<div class="four wide column center aligned votes">
  <div class="ui statistic">
    <div class="value">
    {{ article.votes }}
    </div>
    <div class="label">
    Points
    </div>
  </div>
 </div>
<div class="twelve wide column">
  <a class="ui large header" href="{{ link }}">
  {{ article.title }}
  </a>
  <div class="meta">({{ domain() }})</div>
  <ul class="ui big horizontal list voters">
    <li class="item">
      <a href (click)="voteUp()">
        <fa-icon [icon]="faThumbsUp" ></fa-icon>
        upvote
      </a>
    </li>
    <li class="item">
      <a href (click)="voteDown()">
        <fa-icon [icon]="faThumbsDown" ></fa-icon>
        downvote
      </a>
    </li>
  </ul>
</div>
